# Data file big for github to upload

In [2]:
import pandas as pd
import numpy as np
df_anime = pd.read_csv('/Users/sagar/Downloads/anime.csv')
df_ratings = pd.read_csv('/Users/sagar/Downloads/rating.csv')

In [3]:
df_anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [4]:
df_anime['genre'].value_counts().head()

Hentai                   823
Comedy                   523
Music                    301
Kids                     199
Comedy, Slice of Life    179
Name: genre, dtype: int64

In [5]:
df_anime['type'].value_counts()

TV         3787
OVA        3311
Movie      2348
Special    1676
ONA         659
Music       488
Name: type, dtype: int64

In [6]:
df_anime_tv = df_anime[df_anime['type']=='TV']

In [7]:
df_anime_tv.describe()

           anime_id       rating       members
count   3787.000000  3671.000000  3.787000e+03
mean   11966.169527     6.902299  4.268366e+04
std    11366.555876     0.863526  8.912101e+04
min        1.000000     2.670000  1.200000e+01
25%     2229.500000     6.440000  4.830000e+02
50%     7525.000000     6.940000  5.947000e+03
75%    21095.000000     7.460000  4.424600e+04
max    34525.000000     9.600000  1.013917e+06

In [8]:
df_ratings.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [9]:
df_ratings.rating.value_counts()

 8     1646019
-1     1476496
 7     1375287
 9     1254096
 10     955715
 6      637775
 5      282806
 4      104291
 3       41453
 2       23150
 1       16649
Name: rating, dtype: int64

In [10]:
df_ratings.rating.replace({-1:np.NaN}, regex=True, inplace=True)

In [11]:
df_ratings.rating.value_counts()

8.0     1646019
7.0     1375287
9.0     1254096
10.0     955715
6.0      637775
5.0      282806
4.0      104291
3.0       41453
2.0       23150
1.0       16649
Name: rating, dtype: int64

In [12]:
df_ratings.head()

   user_id  anime_id  rating
0        1        20     NaN
1        1        24     NaN
2        1        79     NaN
3        1       226     NaN
4        1       241     NaN

In [13]:
df_ratings.shape

(7813737, 3)

In [14]:
df_merged = df_ratings.merge(df_anime_tv, left_on='anime_id', right_on='anime_id',
                         suffixes = ['_user',''])

In [15]:
df_merged.head()

,user_id,anime_id,rating_user,name,genre,type,episodes,rating,members
0,1,20,NaN,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297
1,3,20,8.0,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297
2,5,20,6.0,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297
3,6,20,NaN,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297
4,10,20,NaN,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297

In [16]:
df_merged.dtypes

user_id          int64
anime_id         int64
rating_user    float64
name            object
genre           object
type            object
episodes        object
rating         float64
members          int64
dtype: object

In [17]:
df_merged.user_id.shape

(5283596,)

In [18]:
df_merged=df_merged[['user_id','name','rating_user']]

In [19]:

df_merged = df_merged[df_merged['user_id']<=10000]

In [20]:
p_table = df_merged.pivot_table(index=['user_id'], columns=['name'], values='rating_user')

In [21]:
p_table.shape

(9936, 2804)

In [22]:
p_table.head()

name,.hack//Roots,.hack//Sign,.hack//Tasogare no Udewa Densetsu,009-1,07-Ghost,11eyes,12-sai.: Chicchana Mune no Tokimeki,3 Choume no Tama: Uchi no Tama Shirimasenka?,30-sai no Hoken Taiiku,91 Days,...,"Zone of the Enders: Dolores, I",Zukkoke Knight: Don De La Mancha,ef: A Tale of Melodies.,ef: A Tale of Memories.,gdgd Fairies,gdgd Fairies 2,iDOLM@STER Xenoglossia,s.CRY.ed,xxxHOLiC,xxxHOLiC Kei
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN

In [23]:
p_norm = p_table.apply(lambda x:(x-np.mean(x))/(np.max(x)-np.min(x)),
                              axis=1)
p_norm.fillna(0, inplace=True)
p_norm= p_norm.T
p_norm = p_norm.loc[:,(p_norm!=0).any(axis=0)]

In [24]:
import scipy as sp
import operator

from sklearn.metrics.pairwise import cosine_similarity
p_sparse = sp.sparse.csr_matrix(p_norm.values)

In [25]:
item_similarity = cosine_similarity(p_sparse)
user_similarity = cosine_similarity(p_sparse.T)

In [26]:
item_sim_df = pd.DataFrame(item_similarity, index = p_norm.index,
                          columns=p_norm.index)
user_sim_df = pd.DataFrame(user_similarity, index = p_norm.columns,
                          columns = p_norm.columns)

In [27]:
def top_animes(anime_name):
    count=1
    print('Similar shows to {} include:\n '.format(anime_name))
    for item in item_sim_df.sort_values(by = anime_name, ascending=False).index[1:11]:
        print('No. {}: {}'.format(count, item))
        count+=1

In [28]:
def top_users(user):
    
    if user not in p_norm.columns:
        return ('Empty for {}'.format(user))
    
    print('Similar Users:\n')
    sim_values = user_sim_df.sort_values(by=user, ascending=False).loc[:, user].tolist()[1:11]
    sim_users = user_sim_df.sort_values(by=user, ascending=False).index[1:11]
    zipped = zip(sim_users, sim_values, )
    for user, sim in zipped:
        print ('User #{0}, similarity index: {1:.2f}'.format(user, sim))

In [29]:
def similar_user(user):
    if user not in p_norm.columns:
        return ('Empty for user {}'.format(user))
    
    sim_users = user_sim_df.sort_values(by=user, ascending=False).index[1:11]
    best = []
    most_common = {}
    
    for i in sim_users:
        max_score = p_norm.loc[:,i].max()
        best.append(p_norm[p_norm.loc[:,i]==max_score].index.tolist())
        
    for i in range(len(best)):
        for j in best[i]:
            if j in most_common:
                most_common[j]+=1
            else:
                most_common[j]=1
    sort_values=sorted(most_common.items(), key=operator.itemgetter(1), reverse=True)
    return sort_values[:5]

In [30]:
def similar_user_recs(user):
    if user not in p_norm.columns:
        return ('Empty for user {}'.format(user))
    
    sim_users = user_sim_df.sort_values(by=user, ascending=False).index[1:11]
    best=[]
    most_common ={}
    
    for i in sim_users:
        max_score = p_norm.loc[:,i].max()
        best.append(p_norm[p_norm.loc[:,i]==max_score].index.tolist())
    
    for i in range(len(best)):
        for j in best[i]:
            if j in most_common:
                most_common[j]+=1
            else:
                most_common[j]=1
                
    sorted_list = sorted(most_common.items(), key=operator.itemgetter(1), reverse=True)
    return sorted_list[:5]

In [36]:
def predicted_rating(anime_name, user):
    sim_users = user_sim_df.sort_values(by=user, ascending=False).index[1:1000]
    user_values = user_sim_df.sort_values(by=user, ascending=False).loc[:, user].tolist()[1:1000]
    rating_list = []
    weight_list = [] 
    for j, i in enumerate(sim_users): 
        rating = p_table.loc[i, anime_name] 
        similarity = user_values[j] 
        if np.isnan(rating): 
            continue 
        elif not np.isnan(rating): 
            rating_list.append(rating*similarity) 
            weight_list.append(similarity) 
    return sum(rating_list)/sum(weight_list)

In [37]:
top_animes ('Samurai Champloo')

Similar shows to Samurai Champloo include:

No. 1: Cowboy Bebop
No. 2: Great Teacher Onizuka
No. 3: Mushishi
No. 4: Ghost in the Shell: Stand Alone Complex 2nd GIG
No. 5: Fullmetal Alchemist: Brotherhood
No. 6: Tengen Toppa Gurren Lagann
No. 7: Black Lagoon: The Second Barrage
No. 8: Steins;Gate
No. 9: Ghost in the Shell: Stand Alone Complex
No. 10: Trigun

In [38]:
top_users(5)

Similar Users:

User #4512, similarity index: 0.28
User #2300, similarity index: 0.27
User #4064, similarity index: 0.25
User #1682, similarity index: 0.25
User #7407, similarity index: 0.23
User #3117, similarity index: 0.23
User #3056, similarity index: 0.23
User #529, similarity index: 0.22
User #771, similarity index: 0.22
User #9319, similarity index: 0.22

In [39]:
similar_user_recs(3)

[('Boku dake ga Inai Machi', 4),
 ('Shingeki no Kyojin', 4),
 ('Steins;Gate', 4),
 ('Fullmetal Alchemist: Brotherhood', 4),
 ('Clannad: After Story', 3)]

In [40]:
predicted_rating('Fullmetal Alchemist: Brotherhood',3)

9.543737868706451

In [44]:
watched = p_table.T[p_table.loc[3,:]>0].index.tolist()

In [46]:
errors = []
for i in watched:
    actual = p_table.loc[3,i]
    predicted = predicted_rating(i,3)
    errors.append((actual-predicted)**2)

In [47]:
np.mean(errors)

0.8848212679397977